@import "partials/_variables.scss";
@import "partials/_common.scss";

body {
  background: #1E2D3B;
  min-height: 100vh;

  header {
    width: 100%;
    height: 70px;
    background: #2E3A46;

    & img {
      height: 50px;
      margin-top: 10px;
    }
  }

  main {

    & .main_container {
      display: flex;
      margin-top: 30px;
      justify-content: center;
      flex-wrap: wrap;

      & .cds_cont {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        margin: 10px 20px;
        width: 20%;
        background-color: #2E3A46;
        text-align: center;

        & .album_img {
          max-width: 100%;
          height: auto;
        }

        & h3 {
          color: $color_white;
          margin: 20px 0;
          text-transform: uppercase;
        }

        & p {
          color: $color_grey;
          font-weight: 700;
        }
      }
    }
  }
}
